@import "https://fonts.googleapis.com/css?family=Rubik+One";

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans|Oswald|Poppins|Raleway|Roboto');


/*
.fancybutton::before, .fancybutton::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}
*/

.fancybutton {
  display: inline-block;
  padding: 20px 40px;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  /* SIZE font-size: 2vw; */
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #f77474;
}
/* .fancybutton::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #196090;
}
*/
/*
.fancybutton::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #124364;
}
*/
.fancybutton:active {
  margin-left: 10px;
  margin-top: 10px;
}
.fancybutton:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.fancybutton:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}






/* BUTTON 2 */

/*
.fancybutton2::before, .fancybutton2::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}
*/

.fancybutton2 {
  display: inline-block;
  padding: 20px 40px;
  color: white;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  /* SIZE font-size: 2vw; */
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #f77474;
}
/* .fancybutton2::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #196090;
}
*/

/*
.fancybutton2::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #124364;
}
*/
.fancybutton2:active {
  margin-left: 10px;
  margin-top: 10px;
}
.fancybutton2:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.fancybutton2:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}






/*THIRD BUTTON*/ 

/*
.fancybutton3::before, .fancybutton2::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}
*/

.fancybutton3 {
  display: inline-block;
  padding: 20px 40px;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 4vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #FDE545;
  /* TO EXTEND THE WHOLE HORTIZIONTAL OF PAGE == width: 100vw; */
}

/*
.fancybutton3::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #009C9A;
}
.fancybutton3::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #028583;
}
*/

.fancybutton3:active {
  margin-left: 10px;
  margin-top: 10px;
}
.fancybutton3:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.fancybutton3:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

.fancybutton3::before, .fancybutton3::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* FOURTH BUTTON */

/*
.fancybutton4::before, .fancybutton4::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}
*/

.fancybutton4 {
  display: inline-block;
  padding: 20px 40px;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 4vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #FDE545;
  /* TO EXTEND THE WHOLE HORTIZIONTAL OF PAGE == width: 100vw; */
}

/*
.fancybutton4::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #009C9A;
}
.fancybutton4::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #028583;
}
*/

.fancybutton4:active {
  margin-left: 10px;
  margin-top: 10px;
}
.fancybutton4:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.fancybutton4:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

.fancybutton4::before, .fancybutton4::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}

/* FIFTH BUTTON */

/*
.fancybutton5::before, .fancybutton2::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}
*/

.fancybutton5 {
  display: inline-block;
  padding: 20px 40px;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 4vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #FDE545;
  /* TO EXTEND THE WHOLE HORTIZIONTAL OF PAGE == width: 100vw; */
}

/*
.fancybutton5::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #009C9A;
}
.fancybutton2::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #028583;
}
*/

.fancybutton5:active {
  margin-left: 10px;
  margin-top: 10px;
}
.fancybutton5:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.fancybutton5:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

.fancybutton5::before, .fancybutton5::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}


/*SIXTH BUTTON*/ 

/*
.fancybutton6::before, .fancybutton6::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}
*/

.fancybutton6 {
  display: inline-block;
  padding: 20px 40px;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 4vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #FDE545;
  /* TO EXTEND THE WHOLE HORTIZIONTAL OF PAGE == width: 100vw; */
}

/*
.fancybutton6::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #009C9A;
}
.fancybutton6::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #028583;
}
*/

.fancybutton6:active {
  margin-left: 10px;
  margin-top: 10px;
}
.fancybutton6:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.fancybutton6:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

.fancybutton6::before, .fancybutton6::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}


/*FIRSTENDBTN*/ 

/*
.firstendbtn::before, .firstendbtn::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}
*/

.firstendbtn {
  display: inline-block;
  padding: 20px 40px;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  font-size: 3vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #28cac8;
  /* TO EXTEND THE WHOLE HORTIZIONTAL OF PAGE == width: 100vw; */
}

/*
.firstendbtn::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #009C9A;
}
.firstendbtn::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #028583;
}
*/

.firstendbtn:active {
  margin-left: 10px;
  margin-top: 10px;
}
.firstendbtn:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.firstendbtn:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

.firstendbtn::before, .firstendbtn::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}

/*SECONDENDBTN*/ 

/*
.secondendbtn::before, .secondendbtn::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}
*/

.secondendbtn {
  display: inline-block;
  padding: 20px 40px;
  color: black;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  font-size: 3vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: #F85756;
  /* TO EXTEND THE WHOLE HORTIZIONTAL OF PAGE == width: 100vw; */
}

/*
.secondendbtn::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  background-color: #009C9A;
}
.secondendbtn::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  background-color: #028583;
}
*/

.secondendbtn:active {
  margin-left: 10px;
  margin-top: 10px;
}
.secondendbtn:active::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}
.secondendbtn:active::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}

.secondendbtn::before, .secondendbtn::after {
  position: absolute;
  content: '';
  -webkit-transition: all .5s;
  transition: all .5s;
}